<%= error_messages_for 'comment' %>

<!--[form:comment]-->
<p><label for="comment_post">Post</label><br/>
<%= text_area 'comment', 'post'  %></p>

<p><label for="comment_date">Date</label><br/>
<%= datetime_select 'comment', 'date'  %></p>
<!--[eoform:comment]-->

