= raw(sanitize(@article.content, :tags => %w{b strong h2 h1 h3 h4 h5 h6 em i p br img blockquote a  }))

%a{:href => "http://www.tumblr.com/share", :style => "display:inline-block; text-indent:-9999px; overflow:hidden; width:81px; height:20px; background:url('http://platform.tumblr.com/v1/share_1.png') top left no-repeat transparent;", :title => "Share on Tumblr"} Share on Tumblr

