<%= error_messages_for 'director' %>

<!--[form:director]-->
<p><label for="director_firstname">Firstname</label><br/>
<%= text_field 'director', 'firstname'  %></p>

<p><label for="director_lastname">Lastname</label><br/>
<%= text_field 'director', 'lastname'  %></p>

<p><label for="director_description">Description</label><br/>
<%= text_area 'director', 'description', :size => "40x10"  %></p>
<!--[eoform:director]-->

