<h1>New book</h1>

<% form_tag ({:action => 'create'}, :name => "newitem",  :multipart => true ) do %>
  <%= render :partial => 'layouts/editform', :locals => {:itemtype => 'book', :item => @book } %>
	 
<% end %>

<%= link_to 'Back', :action => 'list' %>
