<h1>New creator</h1>

<% form_tag({:action => 'create'}, {:onSubmit => 'self.close();'}) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
