<%= error_messages_for 'update' %>

<!--[form:update]-->
<p><label for="update_day">Day</label><br/>
<%= date_select 'update', 'day'  %></p>

<p><label for="update_name">Name</label><br/>
<%= text_field 'update', 'name'  %></p>
<!--[eoform:update]-->

