<% for column in Update.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @update.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @update %> |
<%= link_to 'Back', :action => 'list' %>
