<h1>New dvd</h1>

<% form_tag ({:action => 'create'}, :name => "newitem", :multipart => true)  do %>
  <%= render :partial => 'layouts/editform', :locals => {:itemtype => 'dvd', :item => @dvd } %>
 <% end %>

<%= link_to 'Back', :action => 'list' %>
